
# standard python ignore
__pycache__/
*.pyc

.ipynb_checkpoints/

results/
results_tino/

common_voice_geco_words_train_slim_prot4.pkl
common_voice_geco_words_valid_slim_prot4.pkl

# I also do not know what these files are
lexical_embedding_vectors.pkl
lexical_embedding_vectors2.pkl 


*words_*
words.pkl
test_words.pkl
validation_words.pkl
training_words.pkl
vectors_[0-9]*.pkl
word_counter_[0-9]*.pkl
*.300.bin*
vectors_de.pkl
splitting_data/word_counter_de.pkl
splitting_data/word_counter_en.pkl
models/